# macOS
.DS_Store

# Source maps
*.map
**/*.map

# Editor / Node
# VSCode personal settings 全部無視するけど!だけは残す、という意味
.vscode/*
!.vscode/settings.json
node_modules/

# Build artifacts
dist/
build/
guide/
_archive/
_desk🖊️
_archive🚪

# logs
*.log

# diff生成物を無視
DIFF_*.txt
*.diff.txt
*.patch.txt

#その他
styles/core/_debag.scss
assets/gallery/full/018.avif
assets/gallery/full/018.webp
assets/gallery/thumbs/018.webp
assets/gallery/thumbs/018@2x.webp
assets/gallery/thumbs/019.webp
assets/gallery/thumbs/019@2x.webp
