// デフォは無効。style.scss から上書きできるよう !default
// $enable-debug: false !default;

// @layer debug {
//   @if $enable-debug {
:where(*) {
  outline: 1px dashed rgba(147, 238, 135, 0.35);
  outline-offset: -1px;
}

/* 必要ならデバッグ用クラスもここに */
.debug-safe-area {
  outline: 2px solid magenta;
  padding: max(0.5rem, var(--safe-top)) max(1rem, var(--safe-right))
    max(0.75rem, var(--safe-bottom)) max(1rem, var(--safe-left));
}

//   }
// }

// test用ボーダー
// border:core.$test;
$test1: 1px solid rgb(255 0 0 / 30%);
$test2: 1px solid rgb(255 200 0);
$test3: 1px solid rgb(0 251 255);
$test4: 1px solid rgb(255 0 238);

// background:core.$test-bg1;
$test-bg1: rgb(200 255 0 / 40%);
$test-bg2: rgb(69 110 198 / 40%);
$test-bg3: rgb(44 251 48 / 70%);
$test-bg4: rgb(255 0 64 / 30%);
