// 色、フォントサイズ、transitionなど

// test用ボーダー core.$testで使う
$test: 1px solid red;

//var(--accent-color)で使う
//var()
.timer {
  --timer-test: red;
  --timer-bg-color: rgba(255, 255, 255, 0.05);
  --timer-main-color: #f5f5f5;
  --timer-shadow: 1px, 1px, 3px, rgba(0, 0, 0, 0.25);
  --timer-shadow-hover: 1px 1px 3px rgba(0, 0, 0, 0.5);
  --timer-color-hover: beige;
  --timer-button-bg: #6f7070;
  --span-color: orange;
  --soan-color-hover: blue;
  // スライダーのつまみなど
  --accent-color: #4cabe2;
  --timer-h: clamp(64px, 12vh, 112px);
}

// ▼ギャラリー
$g-col-blueblack: rgb(21 26 37 / 1); //blue-black#151a25
$color-text-light-rgba: rgb(245 245 245 / 70%);
// === Backgrounds ===
$color-bg-base: #eae5da; // コズミックラテ（ベース）
$color-bg-muted: #f5f5f5; // 明るいミュート背景
$color-bg-gallery: #fff; // ギャラリー白
