@use "../core/index" as core;
@use "../components/timer" as time;
@use "../components/timer-mini" as mini;
@use "../components/info" as info;
@use "../components/site-menu" as menu;

// ─────────────────────────────
// 🌿 世界のお茶を少しだけ（Leaf.Loop Style Guide）
// ─────────────────────────────

body.gallery,
.page--gallery {
  border: core.$test1;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: core.$color-g-blueblack;
  // background: core.$color-g-latte-normal;
  background: core.$color-g-latte-dark;
  // background: core.$color-g-latte-light;

  /* iOSのセーフエリアも考慮 */
  padding-bottom: calc(
    var(--timer-h) + env(safe-area-inset-bottom, 0px) + 16px
  );

  // ヘッダー
  header {
    // あとで消す
    h1,
    h2 {
      color: blue;
      background-color: rgb(255 218 185 / 41.6%);
      display: inline-block;
    }

    h2 {
      font-weight: 400;
      background-color: core.$test-bg1;
    }

    .menu-btn .material-icons {
      color: inherit;
    }
  }

  // メイン
  .gallery {
    // 背景色
    &__bg {
      background-color: #5d5f5f;
    }

    // 幅・左右余白
    &__inner {
      // overflow-y: auto;
      width: 100dvw;
      max-height: 90vh;
      padding: 2rem 3rem;
      padding: 0;
    }

    // "photo-container
    // 写真用箱div 親
    .photo-container {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      // gap: 1rem 3%;
    }

    /* コンテナ化（親にcontainer-typeを付与）*/
    &__photo--container,
    &__gallery__grid {
      border: core.$test2;
      container-type: inline-size;
      display: grid;
      // grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1rem 3%;
      // gap: core.$gap-sm;

      @container (min-width: #{core.$bp-sm}) {
        grid-template-columns: repeat(2, 1fr);
      }
      @container (min-width: #{core.$bp-md}) {
        grid-template-columns: repeat(4, 1fr);
      }
      @container (min-width: #{core.$bp-lg}) {
        grid-template-columns: repeat(5, 1fr);
      }
      @container (min-width: #{core.$bp-xl}) {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    &__item {
      position: relative;
      width: 10rem;
      height: 10rem;
      margin: 0 0.5rem;
      border-radius: 16px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
      transition: transform 0.3s ease, filter 0.3s ease;
      overflow: hidden;
      &::after {
        opacity: 0;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: rgb(245 247 244 / 70%);
        font-size: 1rem;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
        content: "すう〜";
        transition: opacity 1.2s ease;
      }
      &:hover::after {
        opacity: 0.9;
      }
    }

    &__img {
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      border-radius: inherit;
      display: block;
      object-position: center center; /* 値の順番は左右 上下 */
      object-fit: cover; /* ↑縦横比を維持して幅いっぱいに広げる */
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-in-out;
      background-color: #151a25;
      &:hover {
        transform: scale(1.03);
        filter: brightness(1.1) contrast(1.05) saturate(105%);
      }
    }

    // max-width:600px
    @media (width <= 37.5rem) {
      .gallery-grid {
        //grid-template-columns: repeat(2, 1fr);
        //padding-bottom: 6rem; // 下余白を十分確保
      }
    }

    // 写真１枚の箱div 子
    .photo-box- {
      position: relative;
      width: 10rem;
      height: 10rem;
      margin: 0 0.5rem;
      border-radius: 16px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
      transition: transform 0.3s ease, filter 0.3s ease;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }

      &:hover {
        transform: scale(1.03);
        filter: brightness(1.1) contrast(1.05) saturate(105%);
      }
    }

    .photo-box-::after {
      opacity: 0;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: rgb(245 247 244 / 70%);
      font-size: 1rem;
      text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
      content: "すう〜";
      transition: opacity 1.2s ease;
    }

    .photo-box-:hover::after {
      opacity: 0.9;
    }

    // 写真自体の設定
    .img {
      display: block;
      object-position: center center; /* 値の順番は左右 上下 */
      object-fit: cover; /* ↑縦横比を維持して幅いっぱいに広げる */
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-in-out;
      background-color: #151a25;
    }
  }

  // Lightbox画像
  // ─────────────────────────────
  .lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    inset: 0;
    background: rgb(0 0 0 / 70%);

    &.hidden {
      display: none;
    }

    &__backdrop {
    }

    &__content,
    .lightbox-content {
      max-width: 90%;
      max-height: 80%;
      text-align: center;
      transition: all 4s ease-out;

      img {
        display: block;
        max-width: 100%;
        max-height: 70vh;
        margin: 0 auto; // 横方向の中央揃え
        border-radius: 12px;
      }

      &__img {
        display: block;
        max-width: 100%;
        max-height: 70vh;
        margin: 0 auto; // 横方向の中央揃え
        border-radius: 12px;
      }

      p,
      &__caption {
        justify-content: center;
        max-width: 37.5rem;

        // max-width: 90%;
        margin: 1rem auto 0;
        padding: 1rem 1.5rem;
        border-radius: 16px;

        // border: 1px solid rgb(255 255 255 / 20%); // 境界線を少し光らせる
        box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        background: rgb(255 255 255 / 10%);
        color: #fff;
        font-size: 1.1rem;
        font-family: "Zen Kurenaido", sans-serif;
        line-height: 1.6;
        text-align: center; // 左揃えに変更
        // transition: background 0.3s ease;
        backdrop-filter: blur(4px);
        animation: fadeInUp 0.5s ease-out;

        &:hover {
          background: rgb(255 255 255 / 15%);

          // background: rgba(120, 237, 4, 0.3);
          outline: none; // ブラウザのデフォルトの青い枠を消す
        }
      }

      .lightbox-header-parent,
      &__header {
        position: absolute;
        top: 1rem;
        right: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
        color: #f5f7f4;
        font-size: 2rem;
      }

      .fit-toggle-btn,
      &__fit-toggle {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: inherit;
        padding: 8px;
        border-radius: 16px;
        border: none;
        transition: all 0.3s ease;

        &:hover,
        &:focus,
        &:active {
          background: #f5f7f43b;
          filter: brightness(1.2);
          transform: scale(1.05);
        }
      }

      &__scale {
      }

      button#lightbox-close,
      &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        background: transparent;
        color: inherit;
        border: none;
        transition: all 0.6s ease;

        &:hover {
          color: #fff;
          filter: brightness(1.2);
          transform: scale(1.05);
        }
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
      }

      @media (width <= 600px) {
        .nav-button.left,
        .nav-button.right {
          top: auto;
          bottom: 6rem; // キャプションの上あたり
          transform: none;
        }
      }

      .nav-button,
      &__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: #fff;
        background: rgb(255 255 255 / 10%); // うっすら
        backdrop-filter: blur(4px); // ガラス風にも応用可
        border: none;
        border-radius: 50%; // 丸く
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10000;
        box-shadow: 0 2px 6px rgb(0 0 0 / 30%);

        &.left {
          left: 1rem;
        }

        &.right {
          right: 1rem;
        }

        &:hover {
          background: rgb(255 255 255 / 20%);
        }
      }

      &__nav--prev {
        left: 1rem;
      }
      __nav--next {
        right: 1rem;
      }
      @keyframes fadeOut {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      .fade-out {
        animation: fadeOut 0.5s ease forwards;
      }

      .fade-in {
        animation: fadeIn 0.5s ease forwards;
      }

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateY(1rem);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  /* ミニカードの箱（ギャラリー専用背景） */
  // .timer-grid-container {
  //   background: rgb(14 16 32 / 40%);
  //   box-shadow: 0 4px 12px rgb(0 0 0 / 20%),
  //     inset 0 0 0 1px rgb(255 255 255 / 35%);
  //   border: 1px solid rgb(234 229 218 / 30%);
  // }

  /* カウント */
  // .timer1 h1 {
  //   text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  // }
} // 🛑

@media (width <= 600px) {
  .lightbox-image {
    max-width: 90vw;
    max-height: 80vh;

    & p {
      justify-content: center;
      max-width: 37.5rem;
      margin: 1rem auto 0;
      padding: 0.5rem 1rem;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
      background: rgb(255 255 255 / 10%);
      color: #fff;
      font-size: 0.8rem;
      font-family: "Zen Kurenaido", sans-serif;
      line-height: 1.6;
      text-align: left;
      backdrop-filter: blur(4px);
      animation: fadeInUp 0.5s ease-out;
    }
  }
}

// スマホ🟢
// 幅1024px（スマホたて向き）以下
@media (width <= 1024px) and (orientation: portrait) {
  body.gallery {
    // 例：スマホ時の背景色やパディングなど
    padding: 1rem;

    // background-color: #f8f8f8;
    main {
      padding-bottom: 0;

      // グリーン
      // background-color: core.$test-bg3;
    }

    // 横スクロール可能な1行表示 試し中
    // 写真用箱div 親
    .photo-container {
      display: grid;

      // grid-template-rows: 1fr;
      overflow-x: auto;
      grid-template-columns: repeat(
        auto-fill,
        minmax(330px, 1fr)
      ); /* アイテム幅を200px以上で複数列に */

      grid-auto-flow: column; /* アイテムを列方向に配置する */
      grid-auto-rows: 350px; /* 各アイテムの行の高さ */
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 4rem 3%;

      // gap: 1rem;
      // width: 90dvw;
      // max-height: 90vh;
      padding: 0;
      margin-top: 2rem;
      // background-color: orange;
    }

    // 写真１枚の箱div 子
    .photo-box {
      border: white 1px solid;
      position: relative;
      width: 8.75rem;
      height: 8.75rem;
      margin: 0 auto;
      border-radius: 16px;
      box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
      transition: transform 0.3s ease, filter 0.3s ease;
      overflow: hidden;
    }

    // 見出し・headerに入れてもいいし

    h1 {
      // margin-left: 2rem;
      font-size: 1rem;
    }

    h2 {
      margin-top: 0.2rem;
      font-size: 0.8rem;

      // margin-left: 2rem;
    }
  } // 消すな
} // 🛑

// 🟡
// 📍📍 幅769px以上1099px以下で画面が横向きの時だけ
@media screen and (width <= 1099px) and (orientation: landscape) {
  body.gallery {
    main {
      padding-bottom: 6rem;
      // background-color: core.$test-bg4;
    }

    h1 {
      margin-left: 2rem;
      font-size: 1.4rem;
    }

    h2 {
      margin-top: 0.4rem;
      margin-left: 2rem;
      font-size: 1rem;
    }
  }
} // 🛑

// 🟦
@media (width >= 1025px) {
}
