@use "../core/index" as core;

// 時計

.decor-clock {
  padding: 0;
  text-align: center;
  animation-timing-function: linear;
  animation: spin 3600s infinite;

  & svg {
    position: fixed;
    display: block;
    width: 17rem;
    height: 14rem;
    filter: drop-shadow(0 0 5px rgba(200, 200, 255, 0.3));
  }

  &__bg {
    &--back {
      color: var(--back);
    }
    &--mid {
      color: var(--mid);
    }
    &--front {
      color: var(--front);
    }
  }

  &__hand {
    &--h {
      color: var(--h);
    }
    &--m {
      color: var(--m);
    }
    &--s {
      color: var(--s);
    }
  }

  &__center {
    color: var(--center);
  }
}
  }
}
