@use "../core/index" as core;

// 時計

.decor-clock {
  width: 17rem;
  height: 14rem;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  animation-timing-function: linear;
  animation: spin 3600s infinite;

  & svg {
    position: fixed;
    display: block;
    // width: 17rem;
    // height: 14rem;
    width: 80%;
    height: auto;
    // ↓ ドロップシャドウは効果的にぼけ、入力画像のアルファマスクのバージョンからずれ、特定の色で描かれて画像の下に混合されます
    filter: var(--clock-filter);
  }

  &__bg {
    &--back {
      color: var(--back);
    }
    &--mid {
      color: var(--mid);
    }
    &--front {
      color: var(--front);
    }
  }

  &__hand {
    &--h {
      color: var(--h);
    }
    &--m {
      color: var(--m);
    }
    &--s {
      color: var(--s);
    }
  }

  &__center {
    color: var(--center);
  }
}

@media (max-height: 500px) {
  .decor-clock {
    // サイズを小さく
    width: var(--m-width);
    height: var(--m-height);
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    // 分針　長いのサイズを調整
    & svg {
      width: var(--m-width);
    }
  }
}
