@use "../core/index" as core;

.page--gallery,
.page--universe,
.page--about {
  // ヘッダーエリア
  .page-header {
    color: var(--page-color);
    width: 100%;
    height: auto;
    padding: 0;
    // 1行のレイアウト帯（グリッドやフレックスの親）
    &__bar {
      padding-top: 16px;
      display: grid;
      grid-template-rows: max-content;
      grid-template-columns: 50px max-content;
      gap: clamp(8px, 1.5vmin, 16px);

      /* サイトメニュ ・ページタイトル ・　サブタイトル　並び */
      grid-template-areas: "site-menu brand";
      justify-content: left;
      align-items: center;
    }

    // ハンバーガーアイコン
    &__toggle {
      display: block;
      color: inherit;
      grid-area: site-menu;
      text-align: center;
    }

    // タイトル容器（コンテナクエリ親）
    &__brand {
      grid-area: brand;
      width: max-content;
      height: fit-content;
    }

    // 見出し：ポートフォリオ
    &__title {
      text-align: left;
      // padding: 8px 0;
      display: inline-block;
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 400;
      font-style: normal;
      // font-size: 24px;
      font-size: clamp(18px, 10vw, 24px);
      white-space: nowrap;
      hyphens: auto; /* 欧文時のハイフネーション */
    }

    // サブタイトル h2
    &__subtitle {
      // grid-area: subheading;
      display: block;
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(14px, 8vw, 18px);
      white-space: nowrap;
    }
  }
}
