@use "../../core/index" as core;

/* 宇宙ページのテーマ（ページ作用域で上書き */

// body タグ
.page--universe {
  height: 100%;
  overflow: hidden;
}

body.universe {
  //  「基準値」 core/_base.scssの色
  color: var(--main-color);
  background: var(--bg);
  // transition: background var(--dur-bg) var(--ease-standard),
  //  color var(--dur-bg) var(--ease-standard);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100dvw;

  height: 100dvh;
  display: flex;
  flex-direction: column;

  // ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
  // アニメ使う宣言

  /* 初期はトランジション切ってチラつき防止 */
  body.booting {
    transition: none !important;
  }

  /* 初期はタイトル＆単語を隠す（JS準備できたら出す） */
  body.booting #page-title,
  body.booting .word {
    opacity: 0;
  }

  // ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
  // ヘッダー ことばが表示されたら消える
  // コメントアウト2025/12/16見た目影響なし　消して良いやつだけど、jsと連動している
  .menu-btn .material-icons {
    // 🍎src/scss/tokens/_colors.scss変数化アイコン
    // color: white;
  }

  /* タイトルラッパは相対配置 */
  // main 内にあるクラス　#page-header {}から外へ移動2025/12/16
  .title-wrapper {
    position: relative;
    display: inline-block; /* タイトル幅にフィット */
  }

  /* ホワイトアウトの白板 "overlay" */
  // main 内にあるクラス　#page-header {}から外へ移動2025/12/16
  #whiteout {
    position: fixed;
    inset: 0; /* 画面全体 */
    background: var(--bigin-white);
    opacity: 0; /* 初期は透明 */
    // --dur-whiteout: 1000ms; // ホワイトアウト
    transition: opacity var(--dur-whiteout) var(--ease-standard); /* フェード時間 */
    will-change: opacity;
    z-index: core.$z-whiteout; /* なんでも上に */
    pointer-events: none;
  }

  /* 表示状態 */
  #whiteout.active {
    opacity: 1;
  }

  // ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
  // mainタブ  .title-wrapperの外
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 12vh;
  }

  // ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
  // 一語ずつ詩的に出現させる場所
  // JavaScriptで動的に表示切り替え
  .universe-words,
  .universe__word {
    min-height: 50vh;
    display: grid;
    place-items: center;
    padding-bottom: 6vh;
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2.2rem);
  }

  .word {
    margin: 0;
    max-width: 90vw;
    font-family: var(--sub-font); //Kiwi Maru
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    color: inherit;
    transition: opacity 2000ms ease;
    opacity: 1;
  }

  .word.fade-in {
    animation: fade-in var(--dur-word-in) var(--ease-soft) forwards;
  }

  .word.fade-out {
    animation: fade-out var(--dur-word-out) var(--ease-standard) forwards;
  }

  .word.is-fade {
    opacity: 0;
  }

  // 間奏　言葉のフォント設定（ほぼ無言のため消す）　⚠️各章にて設定上書き
  .word.interlude {
    font-style: italic;
    font-size: 1.2em;
    opacity: 0.6;
    letter-spacing: 0.1em;
  }
}

@media (width <= 768px) {
  .page--universe {
    .word {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
}
